@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (min-width: 769px) {
  .layout_padding {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

button {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .banner-img {
    width: 95%;
  }
  .lg-block {
    display: none;
  }
}
@media (max-width: 767px) {
  .sm-flex-row {
    flex-direction: column;
  }

  .lg-hidden,
  .sm-hidden,
  .sm-block {
    display: none;
  }
}

.author-date-container {
  display: flex;
  color: #4e5265;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e5e6ea;
  padding-bottom: 1.25rem;
}

@media (min-width: 640px) {
  .custom-div {
    border-top: 1px solid;
    margin-top: 2.5rem;
  }
}

.text-center {
  text-align: center;
  transition: all 300ms;
}

.article-card-image {
  width: 18.5rem;
  height: 10rem;
}

/* styles.css or your core CSS file */

.active-btn {
  background-color: #ff0412;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
  padding: 0.25rem 0.75rem; /* py-1 px-3 */
  border-radius: 1rem; /* rounded-2xl */
  border: none;
  cursor: pointer;
}

.inactive-btn {
  color: #ff0412;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* core CSS */
.active-btn-2 {
  background-color: #ff6700;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
  padding: 0.25rem 0.75rem; /* py-1 px-3 */
  border-radius: 1rem; /* rounded-2xl */
  border: none;
  cursor: pointer;
}

.inactive-btn-2 {
  color: #ff6700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* core CSS */
.active-btn-3 {
  background-color: #ffb416;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
  padding: 0.25rem 0.75rem; /* py-1 px-3 */
  border-radius: 1rem; /* rounded-2xl */
  border: none;
  cursor: pointer;
}

.inactive-btn-3 {
  color: #ffb416;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* core CSS */
.active-btn-4 {
  background-color: #00ba5c;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
  padding: 0.25rem 0.75rem; /* py-1 px-3 */
  border-radius: 1rem; /* rounded-2xl */
  border: none;
  cursor: pointer;
}

.inactive-btn-4 {
  color: #00ba5c;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
